-# = form_with(url: search_tweets_path, local: true, method: :get, class: "search-form") do |form|
-#   = form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input"
-#   = form.submit "検索", class: "search-btn"
-# .contents.row
-#   - @all_ranks.each.with_index(1) do |tweet, i| 
-#     第
-#     = i
-#     位
-#     = tweet.text
-#     = render partial: "tweets/tweet", locals: { tweet: tweet }