// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.like-link{
  font-family: MontserratSemiBold,Helvetica,sans-serif;;
.iine__button{
  color: black;
  font-size:90%;
  padding:5px 20px;
  text-decoration:none;
  font-size: 15px;
  border-radius:4px;
  background:-webkit-gradient(linear, left top, left bottom, from(#E6E6E6), to(#E6E6E6));
  background-color:#1a1a1a;
 }
}